.mycards {
  width: 600px;
  margin: 10px auto 10px auto;
}

.card-title {
  background-color: #e8344e;
  width: 100px;
  border-radius: 10px;
  padding: 3px 5px 5px 10px;
  margin: auto;
}

.card-text {
  justify-content: center;
}
