.mycards {
  width: 1200px;
  margin: 20px auto 20px auto;
  position: center;
}

.card-title {
  background-color: #e8344e;
  width: 100px;
  border-radius: 10px;
  padding: 3px 5px 5px 10px;
  margin: auto;
}

.card-text {
  width: 100px;
  border-radius: 10px;
  padding: 3px 5px 5px 10px;
  margin: auto;
}

.col {
  margin: 20px 20px 20px 20px;
}
