.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.image-container img {
  width: 100px;
  height: 150px;
  margin: 5px 90px 5px 90px;
  overflow: hidden;
}

.mycards {
  padding: 20px;
  width: 600px;
  margin: 20px auto 20px auto;
  text-align: center;
}

/* .col {
  margin: 20px 200px 200px 200px;
} */

.card-title {
  background-color: #e8344e;
  width: 100px;
  border-radius: 10px;
  padding: 3px 5px 5px 10px;
  margin: auto;
}

.character {
  text-align: center;
  margin: 10px;
}

.character-name {
  color: white;
  /* font-weight: bold; */
  font-size: 1.2rem;
  background-color: #e8344e;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.character-name-div {
  margin: 10px 0px 20px 0px;
}
