.mypostingbox {
  width: 500px;
  margin: 20px auto 20px auto;

  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.mypostingbox > button {
  width: 100%;
}

.mycards {
  width: 1200px;
  margin: 20px auto 20px auto;
}

#modalOpenButton,
#modalCloseButton {
  cursor: pointer;
  color: white;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#modalContainer.hidden {
  display: none;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContainer.hidden {
  display: none;
}

#modalContent {
  position: absolute;
  background-color: #fe7f9c;
  width: 550px;
  height: 850px;
  padding: 15px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -800px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -800px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
