.showstart {
  margin: 3% 5% 0.5% 5%;
  position: relative;
  /* 부모 요소의 위치를 상대적으로 설정 */
  /* max-width: 100%; */
}

.slideshow-container {
  position: relative;
  /* 슬라이드 쇼 컨테이너의 위치를 상대적으로 설정 */
  display: inline-block;
  width: 100%;
  padding: 0 5% 0 5%;
}

.slideshow {
  position: relative;
  /* 슬라이드 쇼의 위치를 상대적으로 설정 */
  overflow: hidden;
  /* 슬라이드 쇼 영역을 넘어가는 이미지를 숨김 */
  max-height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.slideshow img {
  display: none;
  /* 이미지를 숨김 */
  width: 100%;
  /* 이미지 폭을 100%로 설정하여 부모 요소에 맞춤 */
  height: auto;
  animation: fade 5s linear infinite;
}

/* 화살표 스타일 설정 */
.slideshow-arrow {
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  /* 절대 위치 설정 */
  top: 50%;
  /* 상단 여백을 부모 요소의 중앙에 맞춤 */
  transform: translateY(-50%);
  /* 수직 가운데 정렬 */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  /* border-radius: 50%; 원형 모양으로 설정 */
}

/* .slideshow-arrow {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    z-index: 1;
  } */

.prev {
  left: 0;
}

.next {
  right: 0;
}
