@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NeoDunggeunmoPro-Regular";
}

header {
  margin: 0px 0px 10px 0px;
}

.custom-button {
  background-color: #e8344e;
  color: white;
}

body {
  background-color: black;
}